.movie-details {
  position: relative;
  color: white;
  padding-bottom: 2rem;
}


.backdrop-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, black 0%, transparent 100%);
}

.movie-info {
  padding: 0 1.5rem;
  margin-top: -100px;
  position: relative;
  z-index: 2;
}

.movie-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.movie-meta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.match-percentage {
  color: #46d369;
  font-weight: bold;
}

.movie-actions {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.movie-description {
  margin: 1.5rem 0;
  line-height: 1.5;
  max-width: 800px;
}

.movie-cast {
  margin-top: 1.5rem;
}

.movie-cast h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.button {
    /*border: 1px solid black;*/
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 1em 5px .5em;
    border: none;
    border-radius: 3px;
    color: black;
}

.button::before {
    /*border: 1px solid red;*/
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.button-secondary {
    background: white;
    color: black;
    /*border: 1px solid red;*/
    font-size: 1.1em;
    min-width: 100px;
    cursor: pointer;
    border: none;
}

.button-secondary::before {
    content: '';
    display: block;
    /*border: 1px solid green;*/
    width: 25px;
    height: 25px;
    margin: auto;
    margin-bottom: 5px;
}

.icon-plus::before {  
    background: url(../icons/plus.svg);
}

.icon-play::before {
    background: url(../icons/play.min.svg);
}

/* Ajustes para pantallas más grandes */
@media (min-width: 768px) {
  .movie-info {
    padding: 0 3rem;
  }
  
  .movie-title {
    font-size: 3rem;
  }
}